

html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


figure {
    margin: 0;
}

body {
    min-width: 375px;
    overflow-x: hidden;
    margin: 0;
}

.container {
    padding: 0 15px;
}

.tittle {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 42px;
    color: #7A611D;
    text-transform: uppercase;
}

.undertittle {
    text-transform: uppercase;
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #000;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.paragraph {
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.btn {
    background: #7A611D;
    width: 342px;
    height: 50px;
    font-style: normal;
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    color: #fff;
    border: none;
    
}

.header {
    background-image: url(../images/header-photo.jpg);
    background-position: 33% 0;
    background-size: cover;
    color: #fff;
}

.header__inner {
    display: flex;
    flex-direction: column;
    height: 840px;
    padding-top: 40px;
    background: rgba(45, 75, 99, 0.6);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    display: block;
    width: 100px;
    height: 36px;
    margin-left: 15px; 
    background-image: url(../images/logo-mob.png);
    background-repeat: no-repeat;
}

.language-picker {
    text-transform: uppercase;
    flex-grow: 3;
    text-align: right;
    margin-right: 20px;
    font-size: 16px;
}


.nav__btn {
    width: 30px;
    height: 20px;
    border: none;
    padding: 0;
    margin-right: 15px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
}

.nav__btn::after {
    background-color: #fff;
    content: "";
    width: 30px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 6px 0 0 #fff, 0 12px 0 0 #fff;
}

.header__tittle {
    margin: 90px 35px 0 15px;
}

.header__tittle h1 {
    width: 350px;
    margin: 0 auto;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    letter-spacing: 0.03em;
    line-height: 69px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__first-word, .header__third-word {
    align-self: flex-end;
}
.header__second-word {
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 600;
    align-self: flex-start;
}

.header__menu {
    margin: 70px 95px 0 15px;
}

.menu__item {
    font-family: 'Gilroy-Light', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 44px;
    text-transform: uppercase;
    position: relative;
}

.menu__item::after {
    content: "";
    width: 50px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 0;
}

.header__decor {
    position: absolute;
    top: 30px;
    right: 0;
    width: 15px;
    height: 810px;
    background-image: url(../images/header-decor.svg);
}

.fixed-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fixed-btn button {
    
    position: fixed;
    right: 20px;
    bottom: 40px;
    color: #fff;
    border: none;
    width: 65px;
    border-radius: 50%;
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 31px;
    height: 65px;
    background: rgba(122, 97, 29, 0.7);
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
}






.goal__info {
    margin-top: 80px;
}


.goal__tittle {
    margin: 0 0 53px;
}

.goal__photos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 260px;
}

.goal__photo-first img {
    width: 163px;
    height: 257px;
    flex-basis: 40%;
}

.goal__photo-second img {
    width: 57px;
    height: 85px;
    flex-basis: 25%;
    margin-top: 20px;
}

.goal__photo-third img {
    width: 137px;
    height: 91px;
    flex-basis: 25%;
    margin-left: 25px;
}

.goal__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goal__paragraph-first {
    margin: 32px 0 20px;
}

.goal__btn {
    margin: 32px auto 82px;
}







.review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__main-photo {
    height: 450px;
    margin-bottom: 58px;
}

.review__main-photo img {
    width: 100%;
    height: 448px;
    object-fit: cover;
}


.review__main-photo img:last-child {
    -webkit-transform: translateY(-101%);
        -moz-transform: translateY(-101%);
        -o-transform: translateY(-101%);
        -ms-transform: translateY(-101%);
        transform: translateY(-101%);
    animation: second-photo 8s infinite;
}

.review__others {
    width: 100%;
}

.review__photos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__photo-second img,
.review__photo-third img {
    max-width: 689px;
    width: 100%;
    height: 263px;
    margin-bottom: 58px;
    object-fit: cover;
}





@keyframes second-photo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}






.immersion__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.immersion__info {
    margin-top: 80px;
}

.immersion__tittle {
    margin-bottom: 20px;
}

.immersion__paragraph-first {
    margin: 10px 0 20px;
}


.immersion__photo img {
    width: 342px;   
    height: 194px
}

.immersion__photos, .immersion__description-second {
    display: none;
}

.immersion__btn-second {
    display: none;
}
.immersion__photo-first img,
.immersion__photo-second img,
.immersion__photo-third img,
.immersion__photo-fourth img {
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    transition: 0.5s linear;
}
.immersion__photo-first img,
.immersion__photo-fourth img {
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
}
.immersion__photo-second img {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin:  bottom;
}
.immersion__photo-third img {
    -webkit-transform-origin: top right ;
    -moz-transform-origin: top right ;
    -ms-transform-origin: top right ;
    -o-transform-origin: top right ;
    transform-origin: top right ;
}

.immersion__photo-first img:hover,
.immersion__photo-second img:hover,
.immersion__photo-third img:hover,
.immersion__photo-fourth img:hover {
    -webkit-transform: scale(1.9);
    -moz-transform: scale(1.9);
    -o-transform: scale(1.9);
    -ms-transform: scale(1.9);
    transform: scale(1.9);
}




.map__photo img {
    width: 100%;
    max-width: 1600px;
    height: auto;
}

.map__photo {
    margin: 82px 0;
    width: 100%;
}



.entrance__container {
    margin-bottom: 82px;
}

.entrance__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.entrance__photo:first-child {
    margin: 20px 0 30px;
}

.entrance__photo:first-child,
.entrance__photo:first-child img,
.entrance__photo:nth-child(2) img,
.entrance__photo:nth-child(3) img {
    width: 100%;
}

.entrance__photo:nth-child(3) img {
    width: 100%;
    height: auto;
}

.entrance__photo:nth-child(2) img {
    width: 100%;
    height: auto;
}

.entrance__photo:nth-child(2) {
    width: 44%;
}

.entrance__photo:nth-child(3) {
    width: 38%;
}

.entrance__paragraph {
    margin: 20px 0;
}

.entrance__btn,
.lobby__btn {
    display: block;
    margin: 0 auto;
}







.lobby {
    text-align: center;
}

.lobby__container {
    margin-bottom: 82px;
}


.lobby__main-photo img {
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: 20px 0;
}

.lobby__photos {
    display: none;
}


.lobby__description {
    text-align: left;
}

.lobby__paragraph {
    margin-bottom: 20px;
}








.oasis__container {
    margin-bottom: 80px;
}


.oasis__paragraph,
.oasis__btn {
    display: none;
}

.oasis__photos {
    display: flex;
    justify-content: flex-end;
}

.oasis__main-photo img {
    margin: 20px 0;
    width: 100%;
    max-width: 693px;
}

.oasis__photo-first {
    width: 30%;
}

.oasis__photo-second {
    margin-top: 65px;
    width: 50%;
}

.oasis__photo-first img {
    width: 57%;
    max-width: 176px;
}

.oasis__photo-second img {
    width: 91%;
    max-width: 467px;
}






.facilities__container {
    margin-bottom: 80px;
}

.facilities__mark {
    width: 50%;
    margin: 20px auto 16px;
}

.facilities__mark img {
    width: 100%;
}

.facilities__paragraph {
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}





.activities-gallery {
    display: none;
}







.amenities__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.amenities__info {
    width: 100%;
}


.amenities__photo-first {
    align-self: flex-end;
    width: 42%;
}

.amenities__photo-second {
    margin-top: -50px;
    width: 30%;
}


.amenities__photo-first img, 
.amenities__photo-second img {
    width: 100%;
}

.amenities__tittle {
    margin-bottom: 52px;
}

.amenities__paragraph {
    margin-bottom: 20px;
}

.amenities__btn {
    display: block;
    margin: 0 auto;
}

.amenities__list {
    margin: 45px 0 50px;
}

.amenities__item {
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 30px;
}

.list-number {
    color: #7A611D;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 46px;
    line-height: 40px;
    display: inline-block;
    margin-right: 15px;
}




.luxury__container {
    text-align: center;
    margin-bottom: 80px;
}

.luxury__tittle {
    padding: 0 15px;
}

.luxury__photo {
    margin: 20px 0 82px;
}

.luxury__photo img {
    width: 100%;
}

.luxury__info {
    width: 62%;
    margin: 0 auto;
}

.luxury__property {
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 32px;
    margin-top: 58px;
}

hr {
    background-color: #7A611D;
    height: 1px;
    margin: 15px 0;
}

.luxury__property span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #7A611D;
    text-transform: uppercase;
}





.apartments {
    text-align: center;
}

.apartments__tittle {
    width: 65%;
    margin: 0 auto;
}


.apartments__gallery {
    display: grid;
    grid-template-columns: minmax(91px, 1fr) minmax(25px, 1fr) minmax(57px, 1fr) minmax(108px, 1fr) minmax(28px, 1fr) minmax(65px, 1fr);
    grid-template-rows: 166px 41px 99px 115px; 
    grid-auto-flow: column dense;
    margin-top: 20px;
}

.apartments__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.apartments__photo:first-child {
    grid-area: 1/1/2/4;
}
.apartments__photo:nth-child(2) {
    grid-area: 2/1/4/2;
}
.apartments__photo:nth-child(3) {
    grid-area: 2/2/4/4;
}
.apartments__photo:nth-child(4) {
    grid-area: 4/1/5/3;
}
.apartments__photo:nth-child(5) {
    grid-area: 1/4/3/5;
}
.apartments__photo:nth-child(6) {
    grid-area: 4/3/5/7;
}
.apartments__photo:nth-child(7) {
    grid-area: 3/6/4/7;
}
.apartments__photo:nth-child(8) {
    grid-area: 1/5/3/7;
}
.apartments__photo:nth-child(9) {
    grid-area: 3/4/4/6;
}


.apartments__btn {
    margin: 20px 0 82px;
}




.brochure__download a {
    display: block;
    width: 260px;
    height: 82px;
    margin: 0 auto;
    background: url(../images/download.svg) no-repeat center right;
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    line-height: 84px;
    color: #000000;
}

.brochure__btn {
    display: block;
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    color: #7A611D;
    border: 1px solid #7A611D;
    margin: 15px auto 82px;
    padding: 18px 20px;
    background: #fff;
}








.contacts__tittle {
    margin-bottom: 23px;
}

.contacts__address {
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.contacts__address a,
.contacts__address a:visited {
    text-decoration: none;
    color: #000;
}

.contacts__paragraph_bold {
    font-weight: bold;
}

.contacts__link-location {
    display: none;
    background: url("../images/map-pin.svg") no-repeat center left;
    width: 136px;
    height: 30px;
    font-family: 'Gilroy-Regular', sans-serif;
    padding-left: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

.contacts__telephone {
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin: 15px 0 26px;
}

.contacts__location img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts__copyright {
    font-family: 'Gilroy-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.005em;
    margin: 18px 0 25px;
}




@media (min-width: 425px) {
    .language-picker {
        margin-left: 55%;
    }

    .header__menu {
        margin-right: 50px;
    }

    .header__decor {
        width: 15px;
    }







    .review__photo-second img,
    .review__photo-third img {
        height: 360px;
    }



    .immersion__photo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) {


    .btn {
        width: 240px;
    }



    .header__nav {
        margin: 0 15px;
    }
    
    .header__decor {
        width: 25px;
    }





    .goal__container {
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 680px;
    }

    .goal__info {
        order: 2;
        width: 30%;
        align-self: center;
        margin: 0 0 30px 0;
    }

    .goal__photos {
        height: 557px;
        width: 45%;
    }
    .goal__photo-first img {
        object-fit: cover;
        width: 213px;
        height: 557px;
        flex-basis: 40%;
    }

    .goal__photo-second img {
        width: 107px;
        height: 135px;
        flex-basis: 25%;
        margin-left: 10px;
        margin-top: 20px;
    }

    .goal__photo-third img {
        width: 187px;
        height: 141px;
        flex-basis: 25%;
        margin-left: 25px;
    }
    .goal__description {
        align-self: center;
        order: 3;
        width: 30%;
    }

    .goal__btn {
        margin: 62px 0 82px;
    }



    .review__main-photo {
        height: 964px;
        margin-bottom: 100px;
    }

    .review__main-photo img {
        height: 964px;
        
    }
    .review__main-photo img:last-child {
        -webkit-transform: translateY(-100.5%);
        -moz-transform: translateY(-100.5%);
        -o-transform: translateY(-100.5%);
        -ms-transform: translateY(-100.5%);
        transform: translateY(-100.5%);
    }

    .review__photos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .review__photo-second img,
    .review__photo-third img {
        width: 95%;
        height: 360px;
    }
    .review__photo-third {
        text-align: right;
    }



    .immersion__photo img {
        width: 684px;
        height: 387px
    }




    .entrance__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 520px;
    }

    .entrance__info {
        order: 2;
        width: 35%;
    }

    .entrance__photo:first-child img {
        width: auto;
        height: 243px;
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        transition: 0.5s linear;
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left;
    }

    .entrance__photo:first-child img:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
    
    .entrance__photo:nth-child(2) img {
        width: auto;
        height: 162px;
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        transition: 0.5s linear;
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
    }


    .entrance__photo:nth-child(2) img:hover {
        -webkit-transform: scale(2.3);
        -moz-transform: scale(2.3);
        -o-transform: scale(2.3);
        -ms-transform: scale(2.3);
        transform: scale(2.3);
    }

    .entrance__photo:nth-child(3) img {
        width: auto;
        height: 89px;
    }

    .entrance__description {
        order: 3;
        width: 35%;
    }

    .entrance__photos {
        order: 1;
        width: 50%;
    }
    
    .entrance__photo:first-child {
        margin: 0 0 60px;
    }

    .entrance__paragraph {
        margin: 62px 0 32px;
    }

    .entrance__btn {
        margin: 0;
    }





    .lobby__container {
        display: flex;
        justify-content: space-around;
    }

    .lobby__photos {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 350px;
    }

    .lobby__photo-first {
        width: 100%;
    }

    .lobby__photo-first img{
        width: 135px;
    }

    .lobby__photo-second {
        width: 45%;
    }

    .lobby__photo-second img{
        width: 200px;
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        transition: 0.5s linear;
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left;
    }


    .lobby__photo-second img:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }


    .lobby__photo-third {
        width: 45%;
    }

    .lobby__photo-third img{
        width: 157px;
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        transition: 0.5s linear;
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -ms-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right;
    }

    .lobby__photo-third img:hover {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
    }



    .lobby__description {
        width: 40%;
        margin-top: 70px;
    }

    .lobby__btn {
        margin: 0;
    }



    .oasis__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .oasis__info {
        width: 40%;
    }
    
    .oasis__main-photo {
        width: 50%;
    }
    .oasis__main-photo img {
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        transition: 0.5s linear;
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -ms-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right;
    }

    .oasis__main-photo img:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
    .oasis__photos {
        width: 100%;

    }

    .oasis__photo-second {
        margin-top: 130px;
    }

    .oasis__paragraph {
        margin: 42px 0 22px;
    }

    .oasis__paragraph,
    .oasis__btn {
        display: block;
    }





    .facilities__container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto 80px;
    }

    .facilities__mark {
        order: 1;
        width: 50%;
    }

    .facilities__mark img {
        max-width: 255px;
    }

    .facilities__info {
        order: 2;
        width: 50%;
    }

    .facilities__tittle {
        margin-top: 20px;
    }

    .facilities__paragraph {
        width: 100%;
        order: 3;
    }



    .activities-gallery {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: minmax(107px, 1fr) minmax(108px, 1fr) minmax(120px, 1fr) minmax(247px, 1fr);
        grid-template-rows: 137px 189px; 
        grid-auto-flow: column dense;
    }

    .activities-gallery__item {
        width: 100%;
    }
    .activities-gallery__item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .activities-gallery__item:first-child {
        grid-area: 1/1/3/2;
    }

    .activities-gallery__item:nth-child(4) {
        height: 127px;
    }

    .activities-gallery__item:nth-child(6) {
        margin-top: -10px;
    }

    .activities-gallery__item:nth-child(5) {
        grid-area: 2/2/3/4;
    }





    .amenities__container {
        flex-wrap: wrap;
        height: 920px;
        margin-top: 80px;
    }

    .amenities__info {
        width: 50%;
    }

    .amenities__description {
        width: 50%;
        order: 2;
    }

    .amenities__photo-first {
        width: 303px;
        order: 4;
    }
    
    .amenities__photo-second {
        width: 221px;
        align-self: center;
        margin: 0;
        order: 3;
    }
    .amenities__list {
        margin-top: 150px;
        order: 5;
    }

    .amenities__item {
        font-size: 24px;
        line-height: 38px;
    }
    

    .amenities__btn {
        margin: 62px 0;
    }







    .luxury__tittle {
        width: 65%;
        margin: 0 auto;
    }

    .luxury__info {
        width: 80%;
        display: flex;
        
        justify-content: space-between;
    }

    

    .luxury__property {
        width: 30%;
    }

    .luxury__property span {
        font-size: 16px;
        line-height: 30px;
    }






    .apartments__gallery {
        grid-template-columns: minmax(138px, 1fr) minmax(106px, 1fr) minmax(250px, 1fr) minmax(155px, 1fr) minmax(153px, 1fr);
        grid-template-rows: 127px 23px 75px 51px 104px;  
    }

    .apartments__photo:first-child {
        grid-area: 1/1/3/3;
    }
    .apartments__photo:nth-child(2) {
        grid-area: 3/1/5/2;
    }
    .apartments__photo:nth-child(3) {
        grid-area: 3/2/5/3;
    }
    .apartments__photo:nth-child(4) {
        grid-area: 5/1/6/3;
    }
    .apartments__photo:nth-child(5) {
        grid-area: 1/3/4/5;
    }
    .apartments__photo:nth-child(6) {
        grid-area: 4/3/6/4;
    }
    .apartments__photo:nth-child(7) {
        grid-area: 4/4/6/5;
    }
    .apartments__photo:nth-child(8) {
        grid-area: 1/5/2/6;
    }
    .apartments__photo:nth-child(9) {
        grid-area: 2/5/6/6;
    }




    .brochure__btn,
    .brochure__download a {
        margin-left: 0;
    }



    .contacts__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .contacts__tittle,
    .contacts__link-location {
        width: 100%;
    }

    


    .contacts__link-location {
        display: block;
        color: #000;
        margin: 35px 0 45px;
    }
}








@media (min-width: 1024px) {

    .container {
        padding: 0 30px;
    } 

    .paragraph {
        font-size: 20px;
        line-height: 30px;
    }

    .tittle {
        font-size: 48px;
        line-height: 52px;
    }
    .undertittle {
        font-size: 24px;
        line-height: 44px;
    }

    .header__inner {
        height: 960px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background: transparent;
    }
    .header__tittle {
        margin: 0 0 0 180px;
    }
    .header__nav {
        height: 53px;
        margin: 0 45px;
        flex-basis: 100%;
    }
    .logo__link {
        width: 144px;
        height: 53px;
        background-image: url(../images/logo-desk.png);
    }
    .language-picker {
        font-size: 24px;
        line-height: 62px;
    }
    .nav__btn {
        height: 23px;
    }
    .nav__btn::after {
        height: 3px;
        box-shadow: 0 8px 0 0 #fff,
            0 16px 0 0 #fff
    }
    .header__tittle h1 {
        width: 550px;
        font-size: 88px;
            line-height: 100px;
        width: 110%;
    }
    .header__menu {
        text-align: right;
        margin: -50px 100px 0 50px;
    }
    .menu__item {
        font-size: 24px;
        line-height: 44px;
        padding-right: 70px;
        margin-bottom: 20px;
    }
    .menu__item:nth-child(3),
    .menu__item:nth-child(4) {
        -webkit-transform: translateX(-750px);
        -moz-transform: translateX(-750px);
        -o-transform: translateX(-750px);
        -ms-transform: translateX(-750px);
        transform: translateX(-750px);
    }
    .header__decor {
        top: 0;
        width: 60px;
        background-image: url(../images/header-decor-desk.svg);
        height: 960px;
        width: 60px;
        
    }
    .fixed-btn button {
        width: 95px;
        height: 95px;
        right: 77px;
        bottom: 45px;
        font-size: 24px;
        line-height: 44px;
    }






    .goal__container {
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 880px;
    }
    .goal__info {
        order: 2;
        width: 34%;
        align-self: flex-end;
        margin: 0 0 30px 0;
    }

    .goal__photos {
        height: 751px;
        width: 45%;
    }

    .goal__photo-first img {
        object-fit: cover;
        width: 347px;
        height: 751px;
        flex-basis: 40%;
    }

    .goal__photo-second img {
        width: 111px;
        height: 166px;
        flex-basis: 25%;
        margin-top: 20px;
        margin-left: 10px;
    }

    .goal__photo-third img {
        width: 257px;
        height: 171px;
        flex-basis: 25%;
        margin-left: 25px;
    }
    .goal__description {
        align-self: flex-end;
        order: 3;
        width: 34%;
    }




    .immersion__main {
        margin-top: 220px;
    }
    .review__photo-second img,
    .review__photo-third img {
        height: 460px;
    }



    .immersion__photo img {
        width: 542px;
        height: 394px
    }

    .immersion__photo img {
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        transition: 0.5s linear;
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
        
    }
    .immersion__photo img:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    .immersion__photos,
    .immersion__description-second {
        display: block;
    }


    .immersion__main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 545px;
        margin-bottom: 90px;
    }
    .immersion__photo img {
        width: 684px;
        height: 389px;
        -webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        transition: 0.5s linear;
        -webkit-transform-origin: right;
        -moz-transform-origin: right;
        -ms-transform-origin: right;
        -o-transform-origin: right;
        transform-origin: right;
        
    }
    .immersion__photo img:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    .immersion__info {
        width: 30%;
        margin: 0 0 102px;
    }
    .immersion__photo {
        margin-top: 72px;
        order: 3;
    }
    .immersion__description-first {
        width: 30%;
        
    }

    .immersion__photos,
    .immersion__description-second {
        display: block;
    }
    .immersion__photos img {
        width: 100%;
    }
    .immersion__photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 770px;
    }
    .immersion__photo-first,
    .immersion__photo-second,
    .immersion__photo-third,
    .immersion__photo-fourth {
        width: 26%;
    }
    .immersion__photo-first {
        align-self: center;
    }
    .immersion__photo-second {
        align-self: flex-end;
    }
    .immersion__photo-fourth {
        align-self: center;
    }
    .immersion__photo-fourth {
        margin-left: 110px;
    }
    .immersion__paragraph-second {
        width: 40%;
        align-self: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .immension__btn-second {
        display: block;
        -webkit-transform: translateY(62px);
        -moz-transform: translateY(62px);
        -o-transform: translateY(62px);
        -ms-transform: translateY(62px);
        transform: translateY(62px);
    }
    .immersion__btn-first {
        display: none;
    }



    .map__photo {
        margin: 220px 0;
    }

    .entrance__photo:first-child img {
        width: 540px;
        height: 380px;
    }
    
    .entrance__photo:nth-child(2) img {
        width: 227px;
        height: 227px;
    }

    .entrance__photo:nth-child(3) img {
        height: 108px;
        width: 208px;
    }

    .entrance__container {
        margin-bottom: 220px;
        height: 675px;
    }

    .entrance__paragraph {
        margin: 102px 0 62px;
    }



    .lobby__container {
        margin-bottom: 220px;
    }

    
    .lobby__photos {
        height: 500px;
    }

    .lobby__uppertittle {
        margin: 220px 0 20px;
    }

    .lobby__main-photo img {
        margin: 50px 0 70px;
    }
    .lobby__paragraph {
        margin-bottom: 62px;
    }

    .lobby__photo-first img{
        width: 185px;
    }

    .lobby__photo-second img{
        width: 270px;
    }

    .lobby__photo-third img{
        width: 227px;
    }







    .oasis__container {
        margin-bottom: 220px;
    }


    .oasis__paragraph {
        margin: 102px 0 62px;
    }



    .oasis__photo-first {
        margin: -40px 0 0 200px;
        text-align: center;
    }





    .facilities__container {
        margin-bottom: 130px;
    }

    .facilities__tittle {
        line-height: 72px;
    }
    .facilities__paragraph {
        margin: 100px 0 0;
        font-size: 26px;
        line-height: 36px;
    }




    .activities-gallery {
        grid-template-columns: minmax(197px, 1fr) minmax(198px, 1fr) minmax(210px, 1fr) minmax(357px, 1fr);
        grid-template-rows: 237px 289px;  
    }

    .activities-gallery__item:nth-child(4) {
        height: 222px;
    }

    .activities-gallery__item:nth-child(6) {
        margin-top: -15px;
    }





    .amenities__container {
        height: 1320px;
        margin-top: 220px;
    }


    .amenities__photo-first {
        width: 420px;
    }


    .amenities__photo-second {
        margin-top: 150px;
        width: 300px;
    }



    .list-number {
        font-size: 96px;
        line-height: 84px;
    }








    .luxury__container {
        margin: 0 0 220px;
    }

    .luxury__property span {
        font-size: 20px;
        line-height: 34px;
    }





    .luxury__photo {
        margin: 82px 0 220px;
    }


    .apartments__gallery {
        grid-template-rows: 254px 47px 150px 102px 208px; 
    }

    .apartments__btn {
        margin: 125px auto 120px;
    }

    .brochure__btn {
        margin-bottom: 90px;
    }


    .contacts__address {
        font-size: 24px;
        line-height: 34px;
    }
    
    .contacts__tittle {
        margin-bottom: 90px;
    }
    
    .contacts__telephone {
        font-size: 48px;
        line-height: 38px;
    }

    .contacts__copyright {
        margin: 55px 0 45px;
    }
}






@media (min-width: 1440px) {

    .tittle {
        font-size: 64px;
        line-height: 72px;
    }
    .header__tittle h1 {
        width: 700px;
        font-size: 108px;
        line-height: 120px;
    }
    .menu__item:nth-child(3),
    .menu__item:nth-child(4) {
        -webkit-transform: translateX(-1100px);
        -moz-transform: translateX(-1100px);
        -o-transform: translateX(-1100px);
        -ms-transform: translateX(-1100px);
        transform: translateX(-1100px);
    }






    .goal__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        height: 925px;
        margin-top: 140px;
        
    }

    .goal__info {
        order: 2;
        width: 30%;
        margin: 0 0 30px 0;
        align-self: center;
    }

    
    

    .goal__photos {
        height: 751px;
        width: 42%;
        margin-right: 350px;
    }

    .goal__photo-first img {
        width: 476px;
        height: 751px;
        flex-basis: 40%;
        margin-right: 20px;
    }
    .goal__description {
        order: 3;
        width: 30%;
        align-self: center;
    }
    .goal__paragraph-first {
        margin: 0;  
    }
    .goal__paragraph-first,
    .goal__paragraph-second {
        font-size: 24px;
        line-height: 34px;
        
    }







    .review__photo-second img,
    .review__photo-third img {
        width: 689px;
    }


    .entrance__container {
        height: 825px;
    }

    .entrance__photo:first-child img {
        width: 715px;
        height: 470px;
    }

    .entrance__photo:nth-child(2) img {
        width: 288px;
        height: 287px;
    }
    
    .entrance__photo:nth-child(3) img {
        width: 249px;
        height: 156px;
    }



    .lobby__photos {
        height: 700px;
    }

    .lobby__photo-first img{
        width: 268px;
    }

    .lobby__photo-second img{
        width: 403px;
    }

    .lobby__photo-third img{
        width: 316px;
    }
    


    .facilities__paragraph {
        font-size: 32px;
        line-height: 38px;
    }
    


    .activities-gallery {
        grid-template-columns: minmax(297px, 1fr) minmax(298px, 1fr) minmax(310px, 1fr) minmax(457px, 1fr);
        grid-template-rows: 337px 389px;    
    }
   
    .activities-gallery__item:nth-child(4) {
        height: 317px;
    }

    .activities-gallery__item:nth-child(6) {
        margin-top: -20px;
    }






    .amenities__container {
        height: 1530px;
    }

    .amenities__photo-first {
        width: 563px;
    }
    .amenities__photo-second {
        width: 497px;
    }

    .luxury__property span {
        font-size: 24px;
        line-height: 38px;
    }
}

@media (min-width: 1600px) {
    .header__tittle h1 {
        width: 800px;
        font-size: 128px;
        line-height: 140px;
    }
    
}





